.widget
    .widget__body.grid
        .match-award.grid__col--12.t-grid__col--4
            span.match-award__title First Blood
            img.match-award__avatar(ng-src="{{ ctrl.firstBlood.championAvatar }}" title="{{ ctrl.firstBlood.championName }}")
        .match-award.grid__col--12.t-grid__col--4
            span.match-award__title Most Wards Bought
            img.match-award__avatar(ng-src="{{ ctrl.mostWards.championAvatar }}" title="{{ ctrl.mostWards.championName }}")
        .match-award.grid__col--12.t-grid__col--4
            span.match-award__title Most Damage Dealt
            img.match-award__avatar(ng-src="{{ ctrl.mostDamage.championAvatar }}" title="{{ ctrl.mostDamage.championName }}")