.widget
    .widget__header
        span Most Played Champions
    .widget__body
        .widget__item(ng-repeat="champion in ctrl.champions track by $index")
            .champion-stat
                img.champion-stat__champion(ng-src="{{ ::champion.championAvatar }}")
                .champion-stat__info
                    span.champion-stat__info__name {{ ::champion.championName }}
                    span.champion-stat__info__cs {{ ::(champion.stats.totalMinionKills / champion.stats.totalSessionsPlayed).toFixed(0) }} CS
                .champion-stat__kda
                    span.champion-stat__kda__kda
                        span(
                            ng-class="::{'kda--bad': champion.stats.KDA < 2, 'kda--average': champion.stats.KDA >= 2 && champion.stats.KDA < 4, 'kda--good': champion.stats.KDA >= 4 && champion.stats.KDA < 6, 'kda--great': champion.stats.KDA >= 6}"
                        ) {{ ::champion.stats.KDA }}
                        |  KDA
                    span.champion-stat__kda__stats
                        span {{ ::(champion.stats.totalChampionKills / champion.stats.totalSessionsPlayed).toFixed(2) }} /
                        span  {{ ::(champion.stats.totalDeathsPerSession / champion.stats.totalSessionsPlayed).toFixed(2) }} /
                        span  {{ ::(champion.stats.totalAssists / champion.stats.totalSessionsPlayed).toFixed(2) }}
                .champion-stat__played
                    span.champion-stat__played__winrate(title="winrate")
                        | {{ ::100 / champion.stats.totalSessionsPlayed * champion.stats.totalSessionsWon | number:0 }}%
                    span.champion-stat__played__played
                        | {{ ::champion.stats.totalSessionsPlayed }} games
