.widget
    .widget__header
        span {{ ctrl.name }}
    .widget__body.rank
        .flag
            .flag__figure
                img.rank__image(ng-src="/images/leagues/{{ ctrl.tier }}.png")
            .flag__body
                span.rank__tier {{ ctrl.tier | uppercase }} {{ ctrl.rank.division }}
                strong.rank__tier {{ ctrl.rank.leaguePoints }} LP
                span.rank__tier
                    | Winrate {{ ctrl.rank.wins / (ctrl.rank.wins + ctrl.rank.losses) * 100 | number:0 }}%
                    | &ndash; {{ ctrl.rank.wins }}W/{{ ctrl.rank.losses }}L