$primary-text: #222522;
$secondary-text: #555e5e;
$icon-text: #FFF;

$primary: #2F3553;
$dark-primary: darken($primary, 3%);
$light-primary: #FAFAFA;

$secondary: #F2F2F2;
$dark-secondary: #EDEDED;
$light-secondary: #FAFAFA;

$accent: #1175E5;
$divider: #cdd2d2;

// buttons


$disabled-text: #818f8f;
$disabled: #e7e7e9;
$light-disabled: #ebecee;