$primary-text: #222522;
$secondary-text: #555e5e;
$icon-text: #fff;

$primary: #343a48;
$dark-primary: #1f252c;
$light-primary: #fafafa;

$secondary: #f2f2f2;
$dark-secondary: #ededed;
$light-secondary: #fafafa;

$accent: #4daa57;
$secondary-accent: #1175e5;

$divider: #cdd2d2;

// buttons
$disabled-text: #818f8f;
$disabled: #e7e7e9;
$light-disabled: #ebecee;