$color-win: #4ea1ed;
$color-loss: #cf4545;

$color-adc: #e84855;
$color-support: #fde74c;
$color-mid: #3f91eb;
$color-jungle: #08a045;
$color-top: #7e5a9b;
//////////////////////

$icon-text: #fff;

$primary: #343a48;
$dark-primary: #1f252c;
$light-primary: #fafafa;
$primary-text: #222522;

$secondary: #f2f2f2;
$dark-secondary: #ededed;
$light-secondary: #fafafa;
$secondary-text: #555e5e;

$accent: #4daa57;
$secondary-accent: #1175e5;

$divider: #cdd2d2;

// buttons
$disabled-text: #818f8f;
$disabled: #e7e7e9;
$light-disabled: #ebecee;