html {
  font-size: 100%;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-size: 1em;
  font-weight: 300;
}

small {
  font-size: 0.75em;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}