article.widget
    .widget__body.grid
        section.match-award.grid__col--12.m-grid__col--4
            img.match-award__avatar(ng-src="{{ ctrl.firstBlood.championAvatar }}" title="{{ ctrl.firstBlood.championName }}")
            span.match-award__title First Blood
        section.match-award.grid__col--12.m-grid__col--4
            img.match-award__avatar(ng-src="{{ ctrl.mostWards.championAvatar }}" title="{{ ctrl.mostWards.championName }}")
            span.match-award__title Most Wards Bought
        section.match-award.grid__col--12.m-grid__col--4
            img.match-award__avatar(ng-src="{{ ctrl.mostDamage.championAvatar }}" title="{{ ctrl.mostDamage.championName }}")
            span.match-award__title Most Damage Dealt