.grid
    .grid__col--4.t-grid__col--3.d-grid__col--2.baseline--small(
        ng-repeat="champion in ctrl.champions track by champion.championId"
    )
        a(ui-sref="summoner.matches.as({championId: champion.championName})")
            summoner-champion(champion="champion")