.widget
    .widget__header
        span Matches with {{ ::ctrl.champion.name }} as enemy
        .paper-select__wrapper.baseline--none
            select.paper-select(
                ng-model="ctrl.champion"
                ng-options="champion.name for champion in ctrl.championArray"
                ng-change="ctrl.selectChampion(ctrl.champion)"
            )
            .paper-select__label
spinner(ng-if="ctrl.loading")
error(text="'No matches have been found'" ng-if="!ctrl.loading && !ctrl.error && !ctrl.matches[0]")
match-summary(match="match" summoner="ctrl.summoner" ng-repeat="match in ctrl.matches track by match.matchId")
