.highlight--secondary
    .summoner.container
        .flag.flag--fit
            .flag__figure
                img.summoner__avatar(ng-src="{{ ::ctrl.summoner.iconAvatar }}")
            .flag__body
                h1.summoner__name {{ ::ctrl.summoner.name }}
                span {{ ctrl.league }}

    .tabs(stick-to-top)
        .container.tabs__container
            a.tab(ui-sref="summoner.index({summonerId: ctrl.summoner.name})" ui-sref-active="is-active" paper-ripple)
                | Summary
            a.tab(ui-sref="summoner.matches.history({summonerId: ctrl.summoner.name})" ui-sref-active="is-active" paper-ripple)
                | Matches
            a.tab(ui-sref="summoner.champions({summonerId: ctrl.summoner.name})" ui-sref-active="is-active" paper-ripple)
                | Champions
            a.tab(ui-sref="summoner.counters({summonerId: ctrl.summoner.name})" ui-sref-active="is-active" paper-ripple)
                | Counters
            a.tab(ui-sref="summoner.synergy({summonerId: ctrl.summoner.name})" ui-sref-active="is-active" paper-ripple)
                | Synergizes
            a.tab(ui-sref="summoner.runes({summonerId: ctrl.summoner.name})" ui-sref-active="is-active" paper-ripple)
                | Runes
            a.tab(ui-sref="summoner.masteries({summonerId: ctrl.summoner.name})" ui-sref-active="is-active" paper-ripple)
                | Masteries

main.container(ui-view="")
