.container.credentials {
  max-width: 940px;
}

.credentials__quote {
  margin: 0;
  font-size: calc(0.75vw + 1vh + 4vmin);
  line-height: 1.3;
  padding: 0 calc(2vw + 2vh + 2vmin);
  text-align: center;

  @extend %baseline;
}

.credentials__name {
  font-weight: 400;
  display: block;
  text-align: center;
}