.label {
  display: inline-block;
  padding: 0.3em 0.6em;
  font-size: 0.75em;
  border-radius: 0.25em;
  line-height: 1;
  margin-left: 0.3125rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;

  &:empty {
    display: none;
    visibility: hidden;
  }
}

.label--adc {
  color: #FFF;
  background-color: #E84855;
}

.label--support {
  background-color: #FDE74C;
}

.label--mid {
  color: #FFF;
  background-color: #3F91EB;
}

.label--jungle {
  color: #FFF;
  background-color: #08A045;
}

.label--top {
  color: #FFF;
  background: #7E5A9B;
}