.label {
  display: inline-block;
  padding: 0.3em 0.6em;
  font-size: 0.75em;
  border-radius: 0.25em;
  line-height: 1;
  margin-left: 0.3125rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;

  &:empty {
    display: none;
    visibility: hidden;
  }
}

.label--adc {
  color: #fff;
  background-color: $color-adc;
}

.label--support {
  background-color: $color-support;
}

.label--mid {
  color: #fff;
  background-color: $color-mid;
}

.label--jungle {
  color: #fff;
  background-color: $color-jungle;
}

.label--top {
  color: #fff;
  background: $color-top;
}