.match__info {
  display: flex;
}

.match__info__entry {
  margin-right: 3em;
}

.match__widget {
  padding: 12px;
}

.match__stats {

}

.match__item__order {
  display: flex;
  flex-flow: row wrap;
}