.paper-input__wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 2.5rem;
  font-weight: 400;
}

.paper-input {
  text-align: inherit;
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: 1px solid #666;
  font-size: 1rem;
  padding: 0.5rem 0;
  background: transparent;

  &[disabled] {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
    background-color: transparent;
  }
}

.paper-input:focus,
.paper-input.has-focus {
  outline: none;

  & ~ .paper-input__label::after {
    visibility: visible;
    width: 100%;
    left: 0;
  }
}

.paper-input__label {
  font-size: 1rem;
  width: 100%;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  bottom: 0;
  color: #666;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    background-color: #3f51b5;
    height: 2px;
    width: 0.625rem;
    bottom: 0;
    left: 45%;
    visibility: hidden;
    position: absolute;
    transition: 0.2s ease all;
  }
}

.is-touched ~ .paper-input__label,
.ng-touched ~ .paper-input__label {
  visibility: hidden;
}

.paper-input__addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 1.75em;
  display: flex;
  align-items: center;
}

// Floating
.paper-input--floating ~ .paper-input__label {
  transition: 0.2s ease all;
}

.paper-input--floating:focus ~ .paper-input__label,
.paper-input--floating.is-touched ~ .paper-input__label,
.paper-input--floating.ng-touched ~ .paper-input__label {
  visibility: visible;
  top: -0.85rem;
  font-size: 0.75rem;
  color: #3f51b5;
  display: inline-block;
}

// Errors
.paper-input__error {
  float: left;
  width: 100%;
  margin-top: 3px;
  color: #d34336;
  font-size: 0.75rem;
  visibility: hidden;
}

.paper-input--floating.is-dirty:invalid ~ .paper-input__label,
.paper-input--floating.ng-dirty:invalid ~ .paper-input__label {
  top: -0.85rem;
  font-size: 0.75rem;
  color: #d34336;
}

.paper-input.is-dirty:invalid ~ .paper-input__label::after,
.paper-input.ng-dirty:invalid ~ .paper-input__label::after {
  background-color: #d34336;
}

.paper-input.is-dirty:invalid ~ .paper-input__error,
.paper-input.ng-dirty:invalid ~ .paper-input__error {
  visibility: visible;
}

.paper-input.is-dirty:invalid,
.paper-input.ng-dirty:invalid {
  box-shadow: none;
  border-color: #d34336;
  color: #d34336;
}
