.paper-dropdown {
  padding: 0.5rem 0;
  min-width: 150px;
  opacity: 0;
  text-align: left;
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 0.875rem;
  line-height: 1;
  background: #FFF;
  border-radius: 3px;
  pointer-events: none;
  backface-visibility: hidden;
  will-change: opacity, transform;
  transition: opacity 500ms cubic-bezier(.55, 0, .1, 1),
    transform 500ms cubic-bezier(.55, 0, .1, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 100;
}

.paper-dropdown.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.paper-dropdown__item {
  display: block;
  color: $primary-text;
  padding: 0.75rem;

  &:hover,
  &:focus {
    background: $dark-secondary;
  }
}