.widget {
  border: 1px solid $divider;
  border-bottom-width: 0;
  color: $secondary-text;
  margin-bottom: 1.5rem;
}

.widget__header {
  font-size: 0.875em;
  padding: 0.35em 1.25em;
  line-height: 2.3em;
  border-bottom: 1px solid $divider;
  font-weight: 400;
  background: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget__body {
  font-size: 0.75em;
  background: $dark-secondary;
  border-bottom: 1px solid $divider;

  & > :last-child {
    margin-bottom: 0;
  }
}

.widget__item {
  border-bottom: 1px solid $divider;
  line-height: 1;
  padding: 0.375rem;

  &:last-child {
    border-bottom: 0;
  }
}