.landing__hero {
  height: 70vh;
  min-height: 28.125rem;
}

.landing__hero__search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.landing__button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  z-index: 1;
}