.body--login {
  background: $light-secondary;
}

.login {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  min-height: 31.25rem;
}

.login__background {
  background-image: url(/images/sidemenu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(40%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.login__background--small {
  height: calc(30%);
}

.login__box {
  z-index: 1;
  position: relative;
  height: 100%;
  min-height: 31.25rem;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-flow: column;
  background-color: $light-secondary;

  @media (min-width: 28rem) {
    min-width: 0;
    min-height: 0;
    height: 35rem;
    width: 25rem;
    margin: 2rem 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 10px 20px rgba(0, 0, 0, 0.33);
  }
}

.login__box__header {
  padding: 1.5em 1.7em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
  height: calc(30%);
  z-index: 1;
  color: #fff;
}

.login__box__body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0 10vw;
  text-align: center;

  @media (min-width: 840px) {
    padding: 0 1.5rem;
  }
}

.login__box__footer {
  font-weight: 400;
  color: $disabled-text;
  font-size: 0.875em;
  padding: 1em;
  text-align: center;
  margin-top: 1rem;

  strong {
    font-weight: 500;
  }

  a {
    color: inherit;
  }
}

.login__form {
  width: 100%;
}

.login__restore {
  font-weight: 400;
  font-size: 0.875em;
  text-decoration: underline;
  color: $primary-text;
}