.login
    .login__background

    .login__box
        .login__background.login__background--small
        header.login__box__header
            h1.baseline--none Sign Up
        .login__box__body
            form.login__form(name="form" autocomplete="off" novalidate ng-submit="form.$valid && ctrl.register()")
                .paper-input__wrapper.login__input
                    input.paper-input.paper-input--floating(required type="email" name="email" ng-model="ctrl.email" autofocus)
                    label.paper-input__label Email Address
                    span.paper-input__error Input should contain a valid email!

                .paper-input__wrapper.login__input
                    button.paper-input__addon(type="button" tabindex="-1" ng-click="ctrl.showPassword = !ctrl.showPassword")
                        svg.icon--material
                            use(ng-show="ctrl.showPassword" xlink:href="/images/sprites/material/action.svg#ic_visibility_24px")
                            use(ng-show="!ctrl.showPassword" xlink:href="/images/sprites/material/action.svg#ic_visibility_off_24px")
                    input.paper-input.paper-input--floating(required type="{{ (ctrl.showPassword) ? 'text' : 'password' }}" name="password" ng-model="ctrl.password")
                    label.paper-input__label Password
                    span.paper-input__error Password is required!

                button.baseline.icon-button--jumbo.button--full.icon-button.button--secondary(
                    type="submit"
                    ng-click="ctrl.showPassword = false"
                    ng-disabled="ctrl.loading"
                    paper-ripple
                )
                    .icon-button__text(ng-if="!ctrl.loading") Register
                    .icon-button__addon(ng-if="!ctrl.loading")
                        svg.icon--material
                            use(xlink:href="/images/sprites/material/navigation.svg#ic_check_24px")
                    .icon-button__text(ng-if="ctrl.loading") Loading...
                    .icon-button__addon(ng-if="ctrl.loading")
                        svg.icon--material
                            use(xlink:href="/images/sprites/material/action.svg#ic_cached_24px")

        footer.login__box__footer
            a(ui-sref="authentication.login")
                | Already have an account?
                strong  Log in