.grid.grid--center
    .grid__col--12.m-grid__col--6.d-grid__col--5
        participant-damage-distribution(participant="ctrl.selected")
    .grid__col--12.m-grid__col--6.d-grid__col--5
        participant-jungle-distribution(participant="ctrl.selected")
.grid
    .grid__col--12.m-grid__col--5.t-grid__col--4
        participant-runes(participant="ctrl.selected")
    .grid__col--12.m-grid__col--7.t-grid__col--8
        participant-masteries(participant="ctrl.selected")
    .grid__col--12
        participant-build-order(match="ctrl.match" participant="ctrl.selected")
        participant-skill-order(match="ctrl.match" participant="ctrl.selected")