.toolbar
    button.toolbar__button.toolbar__hamburger(ng-click="ctrl.sideMenuOpen = true")
        svg.icon--material
            use(xlink:href="/images/sprites/material/navigation.svg#ic_menu_24px")
        span.toolbar__button__label Menu

    button.toolbar__button.toolbar__kebab(ng-click="ctrl.regionMenuOpen = true")
        svg.icon--material
            use(xlink:href="/images/sprites/material/navigation.svg#ic_more_vert_24px")
        //.paper-dropdown
        //    a.paper-dropdown__item(
        //        ng-repeat="region in ::ctrl.RegionService.getAvailableRegions() track by region"
        //        ng-click="ctrl.RegionService.setRegion(region)"
        //    )
        //        | {{ region | uppercase }}

nav.sidemenu(ng-class="{'sidemenu--is-open': ctrl.sideMenuOpen}")
    .sidemenu__header
    a.sidemenu__item(ui-sref="index" ui-sref-active="sidemenu__item--is-active")
        .flag
            .flag__figure.sidemenu__item__icon
                svg.icon--material
                    use(xlink:href="/images/sprites/material/action.svg#ic_home_24px")
            .flag__body
                span Home
    a.sidemenu__item(ui-sref="authentication.login" ui-sref-active="sidemenu__item--is-active")
        .flag
            .flag__figure.sidemenu__item__icon
                svg.icon--material
                    use(xlink:href="/images/sprites/material/action.svg#ic_lock_24px")
            .flag__body
                span Login


.sidemenu__overlay(ng-class="{'sidemenu__overlay--is-open': ctrl.sideMenuOpen}" ng-click="ctrl.sideMenuOpen = false")