.toolbar {
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar__button {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 2.2rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.toolbar__button__label {
  font-size: 0.5em;
  padding-left: 0.5em;
  font-weight: 400;
}

.toolbar__kebab {

}

.toolbar__hamburger {

}