.container > .grid,
.container > [ui-view] > .grid,
.container > [ui-view] > :not(div) > .grid,
.container > ui-view > :not(div) > .grid,
.container > :not(div) > .grid,
.grid > .grid,
[class*="grid__col--"] > .grid {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.widget__item > .grid {
  padding: 0;
  margin-left: -0.375rem;
  margin-right: -0.375rem;
}