.container.container--padded
    match-award(match="ctrl.match")
    .widget
        .widget__header.match__info
            .match__info__entry
                span Winning Team: {{ ctrl.getWinningTeamId() | team }} Team
            .match__info__entry
                span Game Length: {{ ctrl.match.matchDuration | gameLength }}
        .widget__body.match__stats.match__widget
            div(ng-include="'match/score-board.html'")
                spinner
    .grid.grid--center
        .grid__col--12.d-grid__col--5
            participant-damage-distribution(participant="ctrl.selected")
        .grid__col--12.d-grid__col--5
            participant-jungle-distribution(participant="ctrl.selected")

    participant-build-order(match="ctrl.match" participant="ctrl.selected")
    participant-skill-order(match="ctrl.match" participant="ctrl.selected")
