.container.container--padded
    match-award.hide--very-small(match="ctrl.match")
    .widget
        .widget__header.match__info
            .match__info__entry
                span Winning Team: {{ ctrl.getWinningTeamId() | team }} Team
            .match__info__entry
                span Game Length: {{ ctrl.match.matchDuration | gameLength }}
        .widget__body
            div(ng-include="'match/score-board.html'")
    .grid.grid--center
        .grid__col--12.m-grid__col--6.d-grid__col--5
            participant-damage-distribution(participant="ctrl.selected")
        .grid__col--12.m-grid__col--6.d-grid__col--5
            participant-jungle-distribution(participant="ctrl.selected")
    .grid
        .grid__col--12.m-grid__col--5.t-grid__col--4.d-grid__col--3
            participant-runes(participant="ctrl.selected")
        .grid__col--12.m-grid__col--7.t-grid__col--8.d-grid__col--9
            participant-build-order(match="ctrl.match" participant="ctrl.selected")
            participant-skill-order(match="ctrl.match" participant="ctrl.selected")