.widget
    .widget__body.rank
        .widget__item(ng-if="ctrl.loading")
            spinner
        .widget__item(ng-if="!ctrl.loading && !ctrl.rank")
            error(text="'Summoner is still in his provisionals'")
        .widget__item(ng-if="!ctrl.loading && ctrl.rank")
            .flag
                .flag__figure
                    img.rank__image(ng-if="::ctrl.tier" ng-src="/images/leagues/{{ ::ctrl.tier | lowercase }}.png")
                .flag__body
                    span.rank__tier {{ ::ctrl.tier }} {{ ctrl.rank.division }}
                    strong.rank__tier {{ ::ctrl.rank.leaguePoints }} LP
                    span.rank__tier
                        | Winrate {{ ::ctrl.rank.wins / (ctrl.rank.wins + ctrl.rank.losses) * 100 | number:0 }}%
                        | &ndash; {{ ::ctrl.rank.wins }}W/{{ ctrl.rank.losses }}L