.counter
    .counter__wrapper
        img.counter__avatar(ng-src="{{ ::ctrl.counter.championAvatar }}" title="{{ ::ctrl.counter.championName }}")
    .counter__text
        .counter__name
            span {{ ::ctrl.counter.championName }}
        .counter__games
            span {{ ::ctrl.counter.games }} {{ ::ctrl.counter.games == 1 ? 'Game' : 'Games' }}
        .counter__percentage(ng-class="::{'counter__percentage--positive': ctrl.counter.percent >= 0.5}")
            | {{ ctrl.counter.percent * 100 | number:1 }}%