.counter {
  display: flex;
}

.counter__wrapper {
  flex-grow: 1;
  position: relative;
}

.counter__avatar {
  width: 100%;
  height: auto;
}

.counter__text {
  width: 6em;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 0.75em;
  color: $primary-text;
  padding: 0 0.375rem;
  line-height: 1;

  @media (min-width: 600px) {
    width: 7em;
  }

  @media (min-width: 840px) {
    width: 8em;
  }
}

.counter__name {
  padding-bottom: 0.25rem;
}

.counter__games {
  padding-bottom: 0.25rem;
}

.counter__percentage {
  color: lighten(#F00, 10%);
  font-weight: 500;
}

.counter__percentage--positive {
  color: darken(#0F0, 15%);
}