.match-award {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.75rem;
  border-bottom: 1px solid $divider;

  @media (min-width: 620px) {
    border-right: 1px solid $divider;
    border-bottom-width: 0;

    &:last-child {
      border-right-width: 0;
    }
  }

  &:last-child {
    border-bottom-width: 0;
  }
}

.match-award__title {
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 500;
}

.match-award__avatar {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.75rem;
}