.skill-order {
  width: 100%;
}

.skill-order__cell {
  border-right: 1px solid $divider;
  width: 2.0625rem;
  line-height: 2.0625rem;
  font-weight: 500;
  text-align: center;

  &:first-child {
    width: auto;
  }

  &:last-child {
    border-right: 0;
  }
}

.skill-order__skill {
  border-bottom: 1px solid $divider;

  &:first-child {
    border-top: 1px solid $divider;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.skill-order__skill-name {
  padding: 0 0.25rem;
  text-align: left;
}

.skill-order__skill-key {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: $light-secondary;
  border: 1px solid $divider;
  font-weight: 300;
  margin-right: 0.5rem;

}

.skill-order__skilled {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: $primary;
}