.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

// baseline
%baseline {
  margin-bottom: 1.5rem;
}

%baseline--small {
  margin-bottom: 0.75rem;
}

.baseline {
  @extend %baseline;
}

.baseline--small {
  @extend %baseline--small;
}

.baseline--none {
  margin-bottom: 0;
}