.showcase.highlight--light-secondary
    .container
        h1.text--center.baseline--none Awesome Features
        p.text-secondary.text--center Thats what you get
        .grid
            .grid__col--12.t-grid__col--6.d-grid__col--4
                .media
                    .media__figure.media__icon
                        span.icon--material trending_up
                    .media__body
                        h2.baseline--none Match Statistics
                        p Get detailed information about your ranked games.

            .grid__col--12.t-grid__col--6.d-grid__col--4
                .media
                    .media__figure.media__icon
                        span.icon--material track_changes
                    .media__body
                        h2.baseline--none Oponent information
                            span.label.label--adc soon
                        p Receive valuable information about your enemies gameplay.

            .grid__col--12.t-grid__col--6.d-grid__col--4
                .media
                    .media__figure.media__icon
                        span.icon--material group_add
                    .media__body
                        h2.baseline--none Observe your friends
                            span.label.label--adc soon
                        p Check out your friends progress and congratz them on their wins.

            .grid__col--12.t-grid__col--6.d-grid__col--4
                .media
                    .media__figure.media__icon
                        span.icon--material money_off
                    .media__body
                        h2.baseline--none Completly free
                        p This website is made without any commercial thoughts behind it.

.showcase.highlight--secondary