.showcase.highlight--secondary
    .container
        h1.text--center.baseline--none Awesome Features
        p.text-secondary.text--center Thats what you get
        .grid
            .grid__col--12.m-grid__col--6.d-grid__col--4
                .media
                    .media__figure.media__icon
                        span.icon--material trending_up
                    .media__body
                        h2.baseline--none Match Statistics
                        p Get detailed information about your ranked games.

            .grid__col--12.m-grid__col--6.d-grid__col--4
                .media
                    .media__figure.media__icon
                        span.icon--material track_changes
                    .media__body
                        h2.baseline--none Oponent information
                        p Receive valuable information about your enemies gameplay.

            .grid__col--12.m-grid__col--6.d-grid__col--4
                .media
                    .media__figure.media__icon
                        span.icon--material group_add
                    .media__body
                        h2.baseline--none Follow a summoners progress
                        p Check out your friends progress and congratz them on their wins.

.showcase.highlight--light-secondary
    .container.credentials
        blockquote.credentials__quote
            p.baseline--small
                | Without this, you are
                em  donezo.
        cite.credentials__name &mdash; Reddit User 2016

.showcase.highlight--dark-secondary
    .container
        .grid
            .grid__col--12.m-grid__col--6.d-grid__col--4
                .whisper-box
                    span.whisper-box__icon.icon--material.color--red
                        | palette
                    .whisper-box__text
                        h2.baseline--small
                            | Beautiful Interface
                        p.baseline--none
                            | Steraks.io

            .grid__col--12.m-grid__col--6.d-grid__col--4
                .whisper-box
                    span.whisper-box__icon.icon--material.color--red
                        | palette
                    .whisper-box__text
                        h2.baseline--small
                            | Beautiful Interface
                        p.baseline--none
                            | Steraks.io

            .grid__col--12.m-grid__col--6.d-grid__col--4
                .whisper-box
                    span.whisper-box__icon.icon--material.color--red
                        | palette
                    .whisper-box__text
                        h2.baseline--small
                            | Beautiful Interface
                        p.baseline--none
                            | Steraks.io
